*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 0.3fr 1fr;
    grid-template-rows: 0.1fr 1.5fr 0.1fr;
    grid-template-areas: 
        "header header"
        "Aside Main"
        "footer footer"
    ;
}
.box{
    height: 100%;
}

#box1{
    background-color: blueviolet;
    grid-area: header;
}
#box2{
    background-color: yellowgreen;
    grid-area: Aside;
}
#box3{
    background-color: rgb(233, 114, 114);
    grid-area: Main;
}
#box4{
    background-color: brown;
    grid-area: footer;
}
@media Screen and (max-width:800px) {
    .container{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.2fr 0.3fr 1.8fr 0.2fr;
        grid-template-areas: 
            "Header"
            "Aside"
            "Main"
            "footer"
        ;
    }
    #box1{
        background-color: blueviolet;
        grid-area: Header;
    }
    #box2{
        background-color: yellowgreen;
        grid-area: Aside;
    }
    #box3{
        background-color: rgb(233, 114, 114);
        grid-area: Main;
    }
    #box4{
        background-color: brown;
        grid-area: footer;
    }
    
}