*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container{
    width: 100vw;
    height: 100vh;
    min-height: 600px;
    background-image: linear-gradient(35deg,pink,green);
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    width: 250px;
    height: 390px;
    border: 10px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 3px 4px 2px grey;
    display: flex;
    flex-direction: column;
    
}
.card:hover{
    box-shadow: 0 5px 4px 5px grey;
}
.card img{
   
    width: 250px;
    height: 150px;
    border-top-left-radius: 10px;
    border-top-right-radius:10px;
    
}
.card h2{
    text-align: center;
    font-size: 0.9em;
}
#description{
    text-align: center;
    font-size: 0.6em;
    padding: 15px;
}
.plan{
    width: 200px;
    height: 40px;
    background-color: lightblue;
    margin-left: 25px;
    margin-right: 15px;
    border-radius: 5px;
    display: flex;
}
.plan img{
    border-radius: 50%;
    width: 30px;
    height: 40px;
}
.plan p{
    display: inline-block;
   width: 80px;
   height: 40px;
   font-size: 0.6em;
   font-weight: bold;
   padding-top: 8px;
}
.plan a{
    font-size: 0.8em;
    align-self: center;
    padding-left: 30px;
}
.payment{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 40px;
    background-color: rgb(2, 2, 50);
    border-radius: 5px;
    margin: 10px;
    margin-left: 25px;
    box-shadow: 0 2px 4px 2px rgb(64, 64, 192);
}
.payment:hover{
    box-shadow: 0 3px 4px 2px rgb(64, 64, 192);
}
.payment p{
    color: white;
    
    font-size: 0.6em;
}

#cancel{
    margin-top: 5px;
    text-align: center;
    font-weight: bold;
    font-size: 0.7em;
    text-decoration: none;
}