@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: whitesmoke;
}
.container{
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #8f580a;
}
.card{
    height: 40%;
    width: 33%;
    background-image: url(bg.png);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}
#headerimage{
    display:flex;
    justify-content: space-between;
}
#headerimage img{
    width: 80px;
    height: 40px;
    margin: 20px;
    object-fit: contain;
    object-position: center;
}
#headerimage h2{
    color: white;
    text-align: left;
    font-size: 1em;
    margin-top: 25px;
    margin-right: 25px;
    padding-right: 50px;
}
#details{
    margin: 20px;
}
#details p{
    font-size: 0.6em;
}
.validity{
    margin: 20px;
    display: flex;
    justify-content: space-between;
}
#name{
    font-weight: bold;
    letter-spacing: 3px;
}
#valid{
    position: relative;
    bottom: 20px;
    
}
#valid p{
    font-weight: bolder;
}